body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #eafaff;
    background: linear-gradient(135deg, #052a47, #087ea4, #07304d);
}

header {
    padding: 45px 20px;
    text-align: center;
    background: linear-gradient(90deg, #062c4c, #0faad0, #062c4c);
    border-bottom: 4px solid #ffd34e;
}

header h1 {
    margin: 0;
    font-size: clamp(2rem, 5vw, 4rem);
    color: #fff0a6;
    text-shadow: 3px 3px #005170;
}

nav {
    padding: 14px;
    text-align: center;
    background: #041c33;
    position: sticky;
    top: 0;
}

nav a {
    margin: 0 12px;
    color: #8cecff;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 25px;
}

section {
    margin: 25px 0;
    padding: 25px;
    background: rgba(3, 30, 52, .9);
    border: 1px solid #21c7e8;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .3);
}

h2 {
    color: #ffd34e;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #062a47;
}

th {
    background: #0c9dc1;
    color: white;
}

td,
th {
    padding: 12px;
    border: 1px solid #1a6888;
    text-align: left;
}

tr:nth-child(even) {
    background: #083a5d;
}

input {
    width: 100%;
    max-width: 350px;
    padding: 12px;
    border: 2px solid #21c7e8;
    border-radius: 8px;
    background: #021829;
    color: white;
}

footer {
    padding: 28px;
    text-align: center;
    background: #021525;
    color: #a8eaff;
}