body
{
  margin:0;
  padding:0; 
  font-family:arial,tahoma;
}
header
{
  background:url(nature.png);
  color:#373737; 
  text-align:center; 
  padding:0;
  margin:0;
  overflow:hidden;
  position:fixed;
  width:1300px;
  height:30px;
}
section
{
  padding:20px; 
  background: #FFF;
  color: red;
}
footer
{
  background:#333;
  color:#fff;
  font-size:20px;
  text-align:center;
  padding:20px;
}

ol
{
  color:red;
  background:gray;
  text-align:center;
}

span
{
  color:rgba(255, 0, 255, 0.999999999999999);
  font-weight:bold;
  font-size:200px;
}

.Logo
{
  font-size:20px;
  margin-right:300px;
  color:#0ff;
  display:inline-block;
  margin-top:-20px;
}
a
{
  font-size:15px;
  text-align:center;
}
img
{
  width:500px;
  padding:0;
}
p
{
  text-align:left;
  cursor: default; 
}
input
{
  margin-right:200px
}
h6:hover
{
  cursor: default; 
}